.engaging-spacious {
  background-image: url("https://res.cloudinary.com/dtkwvlezz/image/upload/f_auto,q_auto/v1/InsuCreation/light-green-triangle-bg");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;

  padding: 74px 24px 24px 24px; /* Increase top padding to create space above the container */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -50px; /* Pull the container up to align with the extended background */
}

@media (min-width: 768px) {
  .engaging-spacious {
    padding: 36px;
  }
}

.engaging-spacious-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  max-width: 320px;
}

@media (min-width: 768px) {
  .engaging-spacious-title {
    font-size: 30px;
  }
}

.engaging-spacious-decor {
  width: 76px;
  margin: 8px 0px;
}

.engaging-spacious-des {
  color: #8b8b8b;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  max-width: 550px;
}

.card {
  background-color: #92e3a9;
}

.card-img-container {
  border-radius: 100px;
  border: 4px solid #c0f5cf;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
